<div class="label-list-item light-text flex items-center" [ngClass]="{ 'disabled-text': !label.isVisible }">
  <rcv-confirm-button
    [confirmText]="'Remove Label?'"
    [tooltip]="'Remove label.'"
    (remove)="remove.emit(label)"
  >
    <div class="flex items-center">
      <button
        mat-icon-button
        class="btn-visible-toggle -small"
        (click)="toggle.emit(label)"
        [matTooltip]="label.isVisible ? 'Hide label.' : 'Show label.'"
        matTooltipPosition="left"
        data-cy="hideLabel"
      >
        <mat-icon [svgIcon]="label.isVisible ? 'eye' : 'eye-off'"></mat-icon>
      </button>
      <div class="label-data">
        <p class="positions">
          <span> <b>L</b> {{ label.Left }}</span> <span> <b>R</b> {{ label.Right }}</span>
          <span> <b>T</b> {{ label.Top }}</span> <span> <b>B</b> {{ label.Bottom }}</span>
        </p>
        <p *ngIf="label.Confidence != null" class="confidence">
          <b>Confidence</b> <span>{{ label.Confidence | number: '1.4-4' }}</span>
        </p>
        <p *ngIf="label.PredictionClass != null" class="prediction">
          <b>{{ label.PredictionClass }}</b> <span>{{ label.Prediction | number: '1.4-4' }}</span>
        </p>
      </div>
    </div>
  </rcv-confirm-button>
</div>
