:host {
  width: 100%;
}

.confirm-button {
  overflow: hidden;
}

.wrapper {
  position: relative;
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;

  &.sure {
    transform: translate3d(-15.5em, 0, 0);
  }
}

.remove-actions {
  height: 100%;
  position: absolute;
  right: -16em;
  top: 0;
}
