<rcv-confirm-button
  [confirmText]="'Remove all?' | translate"
  [disabled]="!labels.length"
  [tooltip]="'Remove all labels' | translate"
  (remove)="remove.emit()"
>
  <div class="flex">
    <button
      mat-icon-button
      (click)="toggle.emit(!visible)"
      [disabled]="!labels.length"
      matTooltip="{{ visible ? ('Hide all labels' | translate) : ('Show all labels' | translate) }}"
      matTooltipPosition="left"
      data-cy="hideAllLabels"
    >
      <mat-icon [svgIcon]="visible ? 'eye' : 'eye-off'"></mat-icon>
    </button>
    <div class="flex-auto"></div>
    <button
      mat-icon-button
      (click)="restore.emit()"
      [matTooltip]="'ACTIONS.RESET_ALL_CHANGES' | translate"
      matTooltipPosition="left"
      [disabled]="!image"
    >
      <mat-icon svgIcon="backup-restore"></mat-icon>
    </button>
  </div>
</rcv-confirm-button>
