<h3 mat-dialog-title class="header">{{ Header }}</h3>
<div mat-dialog-content class="message">{{ Message }}</div>
<div mat-dialog-actions class="actions">
  <ng-container *ngFor="let action of Actions">
    <button
      *ngIf="action.warning; else normal"
      mat-stroked-button
      [mat-dialog-close]="action.result"
      color="warn"
    >
      {{ buttonLabel(action.label) }}
    </button>
    <ng-template #normal>
      <button mat-button [mat-dialog-close]="action.result" color="primary">
        {{ buttonLabel(action.label) }}
      </button>
    </ng-template>
  </ng-container>
</div>
